<div class="row container-sign-in">
	<div class="col-12">
		<h2>Sing In</h2>
	</div>
	<div class="col-12">
		<form [formGroup]="formGroupInput">
			<div class="mb-3">
				<label for="username" class="form-label">User Name</label>
				<input type="text" id="username" class="form-control" formControlName="username" required />
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" formControlName="password" required (keyup.enter)="signIn()" />
			</div>
			@if (status) {
				<div class="form-text">{{ status }}</div>
			}
			<div class="row">
				<div class="col-7 mr-auto">
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="save" formControlName="save" />
						<label class="form-check-label" for="save">Check me out</label>
					</div>
				</div>
				<div class="col-5 text-end">
					<button type="button" class="btn btn-link" routerLink="/login/forgot-password">Forgot Password?</button>
				</div>
			</div>
			<div class="col-12 text-end">
				<span>Don’t have account? <button type="button" class="btn btn-link" routerLink="/login/sign-up">Sign Up</button></span>
			</div>
			<br />
			<div class="d-grid gap-2">
				<button type="button" class="btn btn-dark" (click)="signIn()">Sign In</button>
			</div>
		</form>
	</div>
</div>
