.nav-bar-h {
	height: 98vh;
	width: 12vw;
	background-color: rgb(8, 8, 8);
}
.img-menu {
	margin: auto;
	height: 200px;
	width: 350px;
	background-color: rgb(17, 17, 17);
	border-radius: 10%;
}
.menu {
	background-color: rgb(24, 24, 24);
	color: white;
}

.menu-list {
	height: 60dvh;
}
.menu-exit {
	height: 10dvh;
}

.nav-item-btn {
	width: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	gap: 0.6rem;
}
